.topnameformat {
  font-size: 80px;
  background: grey;
  text-align: center;
  color: red;
}

.img {
  padding: 2px;
  border: 4px solid black;
  margin-left: 80px;
  margin-top: 2px;
  margin-bottom: 2px
}

.test-box {
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  border-left: 6px solid red;
  border-right: 8px solid blue;
  margin: 20px;
  padding: 20px;
}

.sidebar {
  width: 40%;
  float: right;
  background-color: orange;
  border-right: 200px solid red;
  padding-left: 50px;
  padding-right: 50px;
  height: 420px;
  text-align: center;
}

.sectionscolumns {
  float: right;
  background-color: lightgrey;
  width: 500px;
  margin: 20px;
  padding: 20px;
}

.columnheads {
  color: darkorange;
  font-size: 30px;
  font-style: italic;
}

@media screen and (min-width: 480px) {
  body {
    background-color: black;
  }
  .sectionscolumns {
    width: 500px;
    color: darkgreen;
  }
}
